@media (max-width: 1366px) {}

@media (max-width: 1200px) {}

@media (max-width: 1040px) {}

@media (max-width: 992px) {
   .about-block {
      font-size: 17px;
      line-height: 20px;
      padding-bottom: 15px;

      &__text-item {
         padding: 8px;
      }
   }
}

@media (max-width: 840px) {
   .navbar {
      position: relative;
   }

   .menu-list {
      border-radius: 0 0 10px 10px;
      display: table-column;
      background: $bcg;
      position: absolute;
      z-index: 20;
      right: 0;
      top: -250px;

      &__item {
         margin: 10px 55px 10px 20px;
      }

      &__item-link {
         margin: 0 auto;
      }
   }

   .menu-list.menu-list--active {
      top: 80px;
   }

   .navbar-btn {
      position: relative;
      display: block;
      margin: auto 0;
      height: 47px;
      padding: 5px;
      cursor: pointer;
   }

   .navbar-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: $fonts;
      margin: 6px 3px;
   }

   .navbar-btn.navbar-btn--active span {
      transition: all 0.5s;

   }

   .navbar-btn.navbar-btn--active span:nth-child(1) {
      position: absolute;
      top: 16px;
      transform: rotate(45deg);
   }

   .navbar-btn.navbar-btn--active span:nth-child(2) {
      opacity: 0;
   }

   .navbar-btn.navbar-btn--active span:nth-child(3) {
      position: absolute;
      bottom: 16px;
      transform: rotate(-45deg);
   }

   .services-block {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 768px) {

   .about-block {
      grid-template-columns: 1fr;
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 15px;

      &__text-item {
         padding: 15px;
      }

      &__diplom {
         margin-top: 13px;
         margin-left: auto;
         margin-right: auto;
      }
   }

}

@media (max-width: 650px) {
   .navbar {
      height: 60px;

      &__tel {
         font-size: 14px;
         letter-spacing: 0px;
         height: 50px;
         line-height: 18px;
         text-align: center;
         padding: auto;
      }

      &__logo-img {
         object-fit: scale-down;
         height: 60px;
         width: 144px;
      }
   }

   .menu-list.menu-list--active {
      top: 60px;
   }

   .contacts-block {
      grid-template-columns: 1fr;
   }

   .about-block {
      grid-template-columns: 1fr;

      &__text-item {
         height: unset;
      }
   }

   .services__title {
      margin-top: 70px;
   }

   .services-block {
      &__title {
         font-size: 14px;
         line-height: 20px;
      }
   }
}

@media (max-width: 576px) {}

@media (max-width: 540px) {
   .about-block {
      &__diplom {
         width: 100%;
         height: unset;
      }

      &__diplom img {
         width: 100%;
         height: 100%;
      }
   }

   .footer-contacts {
      &__list-item {
         margin: 10px 0;
         font-size: 14px;
         line-height: 20px;
      }
   }
}

@media (max-width: 390px) {}